- breadcrumb_title _('Edit Password')
- page_title _('Password')
- @content_class = "limit-container-width" unless fluid_layout

.row.gl-mt-3
  .col-lg-4.profile-settings-sidebar
    %h4.gl-mt-0
      = page_title
    %p
      = _('After a successful password update, you will be redirected to the login page where you can log in with your new password.')
  .col-lg-8
    %h5.gl-mt-0
      - if @user.password_automatically_set
        = _('Change your password')
      - else
        = _('Change your password or recover your current one')
    = form_for @user, url: profile_password_path, method: :put, html: {class: "update-password"} do |f|
      = form_errors(@user, pajamas_alert: true)

      - unless @user.password_automatically_set?
        .form-group
          = f.label :password, _('Current password'), class: 'label-bold'
          = f.password_field :password, required: true, autocomplete: 'current-password', class: 'form-control gl-form-input', data: { qa_selector: 'current_password_field' }
          %p.form-text.text-muted
            = _('You must provide your current password in order to change it.')
      .form-group
        = f.label :new_password, _('New password'), class: 'label-bold'
        = f.password_field :new_password, required: true, autocomplete: 'new-password', class: 'form-control gl-form-input', data: { qa_selector: 'new_password_field' }
      .form-group
        = f.label :password_confirmation, _('Password confirmation'), class: 'label-bold'
        = f.password_field :password_confirmation, required: true, autocomplete: 'new-password', class: 'form-control gl-form-input', data: { qa_selector: 'confirm_password_field' }
      .gl-mt-3.gl-mb-3
        = f.submit _('Save password'), class: "gl-button btn btn-confirm gl-mr-3", data: { qa_selector: 'save_password_button' }
        - unless @user.password_automatically_set?
          = link_to _('I forgot my password'), reset_profile_password_path, method: :put
